@import url("fonts.css");

@page {
    margin: 20mm 25mm 20mm 30mm;

    @top-left {
        content: string(moduletitle)
    }
    @bottom-right {
        content: counter(page) "/" counter(pages);
    }
}

/* hide page count on title pages */
#title-page {
    page: title-page;
    counter-reset: pages 0;
}
@page title-page {
    @bottom-right {
        content: "";
    }
    background: transparent url("images/cc-by.jpeg") 50% 90% no-repeat;
}

/* reset page counter on TOC page */
#toc {
    counter-reset: page 1;
}

/* set moduletitle string */
h1.module-title { string-set: moduletitle content() }

body {
    font-family: Noto Serif;
    font-size: 11pt;
}

table {
    margin: 1em 0;
    border-collapse:collapse;
}
tr td {
    border-color: #999999;
    border-width: 1px;
    border-collapse:collapse;
    border-style:solid;
    padding: 0.3em;
}

h1 {
    font-size: 14pt;
    prince-bookmark-level: none;
}

h2 {
    font-size: 13pt;
    prince-bookmark-level: none;
}

h3 {
    font-size: 13pt;
    font-style: italic;
    prince-bookmark-level: none;
}

p {
    text-align: justify;
}

ul {
    padding-left: 0;
}

figure {
    text-align: center;
    display: block;
}
figure figcaption {
    color: #777777;
    font-size: 90%;
    font-style: italic;
    display: block;
}

/*** Title page ***/
h1.module-title {
    font-size: 36pt;
    text-align: center;
    margin-top: 24pt;
    margin-bottom: 12pt;
}
h1.collection-title, h1.chapter-title {
    font-size: 28pt;
    text-align: center;
    margin-top: 200pt;
    margin-bottom: 60pt;
}
h1.title2 {
    margin-top: 160pt !important;
    margin-bottom: 50pt !important;
}
h1.section-title.level-0 {
    font-size: 24pt;
    prince-bookmark-level: 1;
}
h1.section-title.level-1 {
    font-size: 18pt;
    prince-bookmark-level: 2;
}
h1.section-title.level-2 {
    font-size: 14pt;
    prince-bookmark-level: 3;
}
h1.section-title.level-3 {
    prince-bookmark-level: 4;
}

.module-export h1, h1.contrib-title {
    prince-bookmark-level: 1;
}
.module-export h2 {
    prince-bookmark-level: 2;
}

#authors, #editors {
    text-align: center;
    margin-bottom: 40px;
}
#authors div, #editors div {
    text-align: center;
    margin-bottom: 3pt;
}
#authors div.by, #editors div.by {
    text-align: center;
    margin-bottom: 6pt;
}
.coll-by {
    font-weight: bold;
}

#collection-link {
    text-align: center;
    margin-top: 50px;
}
/*** end Title page ***/

/*** TOC page ***/
h1#menu {
    font-size: 16pt;
}

ul.tocs {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
ul.tocs li.level-0 {
    font-weight: normal;
}
ul.tocs li {
    margin-bottom: 3pt;
    margin-left: 0;
    padding-left: 0;
}
ul.tocs li a {
    text-decoration: none;
}
/*** end TOC page ***/

/*** Contribution page ***/
h1.contrib-title {
    font-size: 18pt;
}

.coll-contrib div, .module-contrib div {
    margin-bottom: 6pt;
}
.module-contrib {
    margin-top: 12pt;
}
/*** end Contribution page ***/

/* ########### Display Math ########## */
.math {
    font-family: 'Times New Roman', serif;
}

.math-block {
    display: block;
}

.math-inline {
    display: inline-block;
    /* IE6, 7 */
    display: inline\9;
    zoom: 1\9;
}

/* token elements */
.math .mi {
    font-style: italic;
}

.math .mn {
    font-style: normal;
}

.math .mo {
    padding-right: 0.3ex;
    padding-left: 0.3ex;

    font-style: normal;
}

.math .mtext {
    font-style: normal;
}

.math .mspace {
}

.math .ms {
}

.math .mglyph {
}

/* layout schemata */
.math .mrow {
}

.math .mfrac {
	vertical-align: middle;
    text-align: center;

    padding-right: 0.5ex;
    padding-left: 0.5ex;
}

.math .mfrac-numerator {
    display: block;

    width: 100%;
    border-bottom: 1px solid #000;
}

.math .mfrac-numerator * {
    vertical-align: bottom;
}

.math .mfrac-denominator {
    display: block;
}

.math .mfrac-denominator * {
    vertical-align: top;
}

.math .msqrt {
    padding-top: 0.4em;
    vertical-align: middle;
}

.math .msqrt-root {
    vertical-align: middle;
    font-size: 16px;
}

.math .msqrt-base {
    vertical-align: top;
    border-top: 1px solid #000;
    padding-left: 0.4ex;
}

.math .mroot {
    padding-top: 6.4px;
    vertical-align: middle;
}

.math .mroot-root {
    vertical-align: middle;
    font-size: 20px;
}

.math .mroot-index {
    vertical-align: top;
    font-size: 64%;
}

.math .mroot-base {
    vertical-align: top;
    border-top: 1px solid #000;
    padding-left: 0.4ex;
}

.math .mstyle {
}

.math .merror {
}

.math .mpadded {
}

.math .mphantom {
}

.math .mfenced {
    vertical-align: middle;
}

.math .mfenced-list {
    vertical-align: middle;
}

.math .mfenced-scala {
    vertical-align: middle;
}

.math .mfenced-separator {
}

.math .mfenced-open {
    padding-left: 0.3ex;
    padding-right: 0.3ex;
}

.math .mfenced-close {
    padding-left: 0.3ex;
    padding-right: 0.3ex;
}

.math .menclose {
}

/* script and limit schemata */
.math .msub {
    text-align: center;
    margin-right: 0.3ex;
}

.math .msub-base {
}

.math .msub-subscript {
    font-size: 64%;
    vertical-align: -15%;
}

.math .msub-subscript * {
    vertical-align: bottom;
}

.math .msup {
    text-align: center;
}

.math .msup-base {
}

.math .msup-superscript {
    font-size: 64%;
    vertical-align: super;
}

.math .msubsup {
}

.math .msubsup-base {
    vertical-align: middle;
    font-size: 136%;
}

.math .msubsup table {
    vertical-align: middle;
    display: inline-table;
    table-layout: fixed;
    /* IE7, 8 */
    /display: inline\9;
    /zoom: 1\9;
    /table-layout: auto\9;
}

.math .msubsup-superscript {
    font-size: 64%;
    padding: 0px;

    text-align: left;
}

.math .msubsup-superscript * {
    vertical-align: top;
}

.math .msubsup-subscript {
    font-size: 64%;
    padding: 0px;

    text-align: left;
}

.math .msubsup-subscript * {
    vertical-align: bottom;
}

.math .munder {
}

.math .munder-base {
    display: block;
    width: 100%;
}

.math .munder-underscript {
    display: block;
    width: 100%;

    font-size: 64%;
}

.math .mover {
}

.math .mover-base {
    display: block;
    width: 100%;
}

.math .mover-overscript {
    display: block;
    width: 100%;

    text-align: center;
    font-size: 64%;
}

.math .munderover {
    vertical-align: middle;
    text-align: center;
}

.math .munderover-base {
    width: 100%;

    font-size: 132%;
}

.math .munderover-underscript {
    display: block;
    width: 100%;

    text-align: center;
    font-size: 64%;
}

.math .munderover-overscript {
    display: block;
    width: 100%;

    font-size: 64%;
}

.math .mmultiscripts {
}

.math .mmultiscripts table {
    vertical-align: middle;
    display: inline-table;
    table-layout: fixed;
    /* IE7, 8 */
    /display: inline\9;
    /zoom: 1\9;
    /table-layout: auto\9;
}

.math .mmultiscripts-subscript * {
	vertical-align: sub;
	font-size: 64%;
}

.math .mmultiscripts-superscript * {
	vertical-align: super;
	font-size: 64%;
}

.math .mmultiscripts-presubscript * {
	vertical-align: sub;
	font-size: 64%;
}

.math .mmultiscripts-presuperscript * {
	vertical-align: super;
	font-size: 64%;
}

/* table and matrices */
.math .mtable {
    vertical-align: middle;
}

.math .mtable table {
    display: inline-table;
    table-layout: fixed;
    /* IE7, 8 */
    /display: inline\9;
    /zoom: 1\9;
    /table-layout: auto\9;
}

.math .mtr {
}

.math .mlabeledtr {
}

.math .mtd {
    vertical-align: middle;
    text-align: center;

    padding-left: 0.5ex;
    padding-right: 0.5ex;
}

/* inline-block */
.math div {
    display: inline-block;
    /display: inline;
    /zoom: 1;
}
/* ########### end Display Math ########## */
