body {
    font-family: Times New Roman;
    font-size: 13pt;
}

h1.module-title {
    font-size: 36pt;
    text-align: center;
    margin-top: 24pt;
    margin-bottom: 12pt;
}

h1 {
    font-size: 14pt;
}

h2 {
    font-size: 13pt;
}

h3 {
    font-size: 13pt;
    font-style: italic;
}

p {
    text-align: justify;
}

#authors {
    text-align: center;
    margin-bottom: 40px;
}
#authors div {
    text-align: center;
    margin-bottom: 3pt;
}
#authors div.by {
    text-align: center;
    margin-bottom: 6pt;
}

